<div class="layui-layout layui-layout-admin">
    <div class="layui-body" style="margin: 1%">
        <h2>竞赛信息</h2>
        <table id = "contestTable" lay-filter="contestTable"></table>
        <hr class="layui-border-black">
        <h2>竞赛参赛人员</h2>
        <from id="contestUserFrom" method="post" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">用户ID</label>
                <div class="layui-input-inline">
                    <input id="userId" name="userId" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="userSubmit">新增</button>
        </from>

        <table id = "userTable" lay-filter="userTable"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">退选竞赛</a>
        </script>
    </div>
</div>
<script src="/common/js/contest/contestPerson.js"></script>


